/* all font */
/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* eb garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* for you page */
/* header section */
header{
    height: 80px;
    background: linear-gradient(to right, #1C7690, #15A5CF);
    color: white;
}

/* header linkable option */
.hover-underline {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 0; /* Adjusts the space between text and underline */
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    transition: width 0.4s ease, left 0.4s ease;
}

.hover-underline:hover::after {
    width: 100%;
    left: 0;
}

/* search bar */
.search-bar-width{
    width: 50%;
}

.search-bar{
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: azure;
}

.search-bar::placeholder {
    padding: 20px;
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size: 15px;
}

/* header icon email bell profile */
.button-style{
    border: none;
    background: none;
}

.custom-icon {
    font-size: 30px; /* Increase the size */
    color: white; /* Change the color to white */
    margin: 10px;
}
.custom-icon-red {
    font-size: 30px; /* Increase the size */
    color: red; /* Change the color to white */
}

/* text-type */
.poppins-medium-16{
    font-family: "Poppins", sans-serif;
    font-weight: 500; /*medium*/
    font-size: 16px;
}

/* body */

body{
    padding-top: 80px;
}


/* bootcapm */
.bootcamp-div{
    height: 15%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.inter-bold-14{
    font-family: "Inter", sans-serif;
    font-weight: 700; /*bold*/
    font-size: 14px;
}

.bootcamp-gradiant{
    height: 20px;
    background-image: linear-gradient(to right, #FFFFFF , #FFF0CA);
}

/* profile */
.profile-div{
    height: 167px;
    width: 271px;
    background-color: #D9D9D9;
    border-radius: 6px;
}

.poppins-reg-13{
    font-family: "Poppins", sans-serif;
    font-weight: 400; /*regular*/
    font-size: 13px;
}

/* profile pop up */
.poppins-medium-15{
    font-family: "Poppins", sans-serif;
    font-weight: 500; /*medium*/
    font-size: 15px;
}

.poppins-medium-24{
    font-family: "Poppins", sans-serif;
    font-weight: 500; /*medium*/
    font-size: 24px;
}

.profile-content {
    
    width: 270px;
    height: 408px;
    background: #ffffff;
    border-radius: 15px 0px 0px 15px;
  }

  .profile-border{
    padding-top: 37px;
    padding-bottom: 13px;
    border-bottom: 2px solid #c2c2c2;
    color: #000000;
  }
  #profile-body {
    position: absolute;
    right: 0px;
    top: 80px;
    display: none;
  }
  .open-profile {
    cursor: pointer;
  }
  .close-profile {
    position: absolute;
    left: 10px;
    top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
    display: none; /* Hidden by default */
    z-index: 999; /* Ensure it covers everything else */
}

.prof-text-padding div{
    padding-top: 20px;
    padding-left: 15px;
    color: #000000;
}

.prof-text-padding div a{
    text-decoration: none;
    color: #000000;
}

.prof-text-padding div button{
    border: none;
    height: 28px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 6px;
}

/* notification popup */

/* Initially hide the popup and overlay */
.poppins-medium-11{
    font-family: "Poppins", sans-serif;
    font-weight: 500; /*medium*/
    font-size: 11px;
}

#noti-popup {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-noti {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 65, 65, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease;
}

.noti-border{
    padding-top: 22px;
    padding-bottom: 16px;
    border-bottom: 2px solid #3C3C3C;
    text-align: center;
    color: #000000;
}

.noti-profile{
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 35px;
}

.noti-profile-text{
    padding-left: 10px;
    color: #000000;
}
/* When popup is active */
#noti-popup.active,
.overlay-noti.active {
    display: block;
    opacity: 1;
}

.noti-popup {
    position: absolute;
    top: 80px;
    right: 195px;
    background-color: #ffffff;
    width: 296px;
    height: 376px;
    border-radius: 15px;
    z-index: 2;
}

/* msg popup */

.msg-popup {
    position: absolute;
    top: 80px;
    right: 255px;
    background-color: #ffffff;
    width: 296px;
    height: 376px;
    border-radius: 15px;
    z-index: 2;
}

#msg-popup {
    display: none;
}

.msg-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.3s ease;
}

.msg-header{
    padding: 20px;
    color: #000000;
    border-bottom: 2px solid #c2c2c2;
}

.msg-speech{
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #c2c2c2;
}
/* add image popup */
#add-image-popup {
    display: none;
}

.add-image-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    width: 595px;
    height: 450px;
    border-radius: 6px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.add-image-title{
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 40px;
    color: #169FC7;
    border-bottom: 2px dashed #313131;
}

.upload-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.poppins-bold-24{
    font-family: "Poppins", sans-serif;
    font-weight: 700; /*bolf*/
    font-size: 24px;
}

.inter-regular-24{
    font-family: "Inter", sans-serif;
    font-weight: 400; /*regular*/
    font-size: 24px;
}

.inter-regular-14{
    font-family: "Inter", sans-serif;
    font-weight: 400; /*regular*/
    font-size: 14px;
}

.upload-text{
    color: #888888;
    padding-bottom: 25px;
}

/* project popup */
#project-popup {
    display: none;
}

.project-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 45px 55px 0px 45px;
    width: 800px;
    height: auto;
    border-radius: 6px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.poppins-regular-24{
    font-family: "Poppins", sans-serif;
    font-weight: 400; /*regular*/
    font-size: 24px;
}

.project-profile{
    padding-left: 15px;
}
.project-name{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
}

.project-name-background{
    background: #D9D9D9;
    padding: 10px;
    border-radius: 4px;
}

.poppins-bold-40{
    font-family: "Poppins", sans-serif;
    font-weight: 700; /*bold*/
    font-size: 40px;
}

.poppins-regular-15{
    font-family: "Poppins", sans-serif;
    font-weight: 500; /*medium*/
    font-size: 15px;
    margin-bottom: 10px;
}

.follow-btn{
    border: none;
    background: #414BAB;
    color: white;
    border-radius: 20px;
    width: 125px;
    height: 27px;
}

.msg-btn{
    border: 1px solid rgb(213, 213, 213);
    background: #ffffff;
    color: rgb(95, 95, 95);
    border-radius: 20px;
    width: 125px;
    height: 27px;
}

/* another page */
/* hire page */
.roboto-semibold-71 {
    font-family: "Roboto", sans-serif;
    font-weight: 600; /*semibold*/
    font-size: 71px;
    font-style: Italic;
    color: #1A82A0;
  }

.hire-body{
    padding: 30px 55px 0px 55px;
}

.hire-text-div{
    width: 430px;
}

.inter-light-20{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.hire-categories{
    margin-top: 15px;
    margin-right: 20px;
    width: 245px;
    height: auto;
    box-shadow: 0px 3px 5px  rgb(204, 204, 204);
    border-radius: 2px;
}

.hire-categories-div{
    padding: 0px 0px 0px 10px;
    border-bottom: 1px  solid gray;
}

.hire-categories-button{
    border: none;
    background: none;
} 

.hire-categories-button-text{
    padding-left: 38px;
    padding-right: 38px;
    color: #1A82A0;
}

.poppins-medium-20{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.poppins-regular-14{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.poppins-regular-20{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.form-label label{
    padding-left: 40px;
    padding-top: 17px;
}

.form-label input{
    padding-top: 19px;
}

.hire-now{
    margin-top: 15px;
}

.hire-now-profile{
    width: 244px;
    height: 228px;
    box-shadow: 0px 3px 5px  rgb(204, 204, 204);
    border-radius: 2px;
}

.hire-now-profile-end{
    margin-top: 15px;
}
.hire-now-profile-margin{
    margin-right: 15px;
    margin-top: 15px;
}

.hire-people-name{
    padding-left: 25px;
    height: 108px;
    background: #ACECFF;
    border-radius: 3px;
}

.hire-people-name-padd{
    padding-left: 15px;
}
.inter-semibold-16{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.inter-semibold-12{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.hire-profile-loc{
    padding-left: 35px;
    height: 63px;
}

.inter-light-13{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.hire-now-button{
    height: 50px;
}

.hire-now-button button{
    width: 229px;
    height: 35px;
    border: 1px dashed #B6B6B6;
    border-radius: 3px;
    background: none;
    color: #6DC6DF;
}

/* another page company page*/
.company-text-div{
    width: 430px;
}

.company-profile{
    width: 418px;
    height: 225px;
    box-shadow: 0px 3px 5px  rgb(204, 204, 204);
    border-radius: 3px;
}

/* another page profile settings */
.save-div{
    margin-right: 40px;
}

.poppins-semibold-22{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.poppins-regular-22{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.save-cancel-btn{
    border: none;
    background: none;
}

.settings-chapter-div{
    border: 2px solid #188EB1;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    /* margin-right: 50px; */
}

.settings-chapter-div a{
    text-decoration: none;
    color: #000000;
}

.settings-chpater-text{
    height: 50px;
    padding: 15px 0px 15px 15px;
    
}

.settings-chapter-bottom{
    border-bottom: 2px solid #188EB1;
}

.poppins-regular-16{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.settings-form{
    border: 2px solid #188EB1;
    border-radius: 10px;
    padding: 45px 0px 45px 0px;
    box-shadow: 0px 4px 5px  rgb(204, 204, 204);
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #188EB1; /* Change to your preferred color */
    margin: 0 auto;
  }

.input-style input{
    height: 47px;
    border-radius: 10px;
    margin-bottom: 34px;
}

.input-style label{
    color: #000000;
}

.cap-pic-padd{
    padding-right: 40px;
    padding-left: 20px;
}

.about-form{
    border: 2px solid #188EB1;
    border-radius: 10px;
    margin-top: 70px;
    padding: 33px 50px 0px 26px;
    box-shadow: 0px 4px 5px  rgb(204, 204, 204);
}
.about-form label{
    margin-bottom: 20px;
}
.about-form input{
    height: 126px;
    border-radius: 10px;
    margin-bottom: 34px;
    border: 1px solid #D3D3D3;
}

.edu-form{
    border: 2px solid #188EB1;
    border-radius: 10px;
    margin-top: 70px;
    padding: 33px 50px 0px 26px;
    box-shadow: 0px 4px 5px  rgb(204, 204, 204);
}
.edu-form label{
    margin-bottom: 20px;
}

.edu-form input{
    height: 36px;
    border-radius: 10px;
    margin-bottom: 58px;
    border: 1px solid #D3D3D3;
}